# Global / Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Windows Specific
Thumbs.db
desktop.ini
$RECYCLE.BIN/
*.lnk

# WSL / Linux Specific
.fuse_hidden*
.directory
.Trash-*
.nfs*

# Node / Cloudflare
node_modules/
.wrangler/
dist/
.dev.vars
build/

# Local AI / Ollama Models
models/*.bin
models/*.gguf
models/*.onnx
.ollama/

# IDEs
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj

# System Files
.DS_Store
Thumbs.db
.ini

# certs
.der
.cert
.cer
.pem
